

:root {
    --primary:#AB2F52;  /*       DEFINITIONS DES COULEURS                 */
    --secondary:#7A223B;
    --tertiary:#DE3D6A;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);

}



body {
    background-color: whitesmoke;
    padding : 0;
    margin: 0;
   
}


p.erreur{
    color: red;
}

form{
    display: inline;
}

.nomsite{
	 line-height: 50px;
}



#fontmenu{
	background-color: var(--primary);
	width: 100%;
	height: 50px;
	border-radius: 0px 0px 10px 10px;
}

#recherches{
	display : table;
}
#recherches li{
	display : table-cell;
	width : 1000px;
}


#menu{
    margin-top: 0px;
	display : table;
}
#menu li{
	display : table-cell;
	width : 500px;

	color : white;

}

#menu a{
	text-decoration: none;
	padding : 9px 22px;
	background-color: white;
	 border-radius: 20px 8px 20px 8px;
	line-height: 50px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#menu a:hover, #menu input:hover{
	background-color: var(--secondary);
	color : white;
	 
}

#menu input{
	 padding : 9px 22px;
	 background-color: white;
	 border : 0px;
	 border-radius: 20px 8px 20px 8px;
	 font-size : 18px;
}

#menu img{
    width:20px;
    height:20px;
    vertical-align:middle;
}

#err{
      color: red;
      font-size: 11px;
    }

.alltweets{
  /*position: absolute;
   top : 20% ;left: 40%;*/
  text-align: center;
    /*border: 1px solid #600 ;  A ENLEVER */
    background: white;
    width: 40%;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);

}

.tweets{
	border : 1px solid whitesmoke;
	padding: 10px 20px;
}

.tweets button{
  padding : 5px 15px;
   background-color: var(--primary);
   border : 0px;
   color : white;
   border-radius: 20px 8px 20px 8px;
   font-size : 18px;
    cursor: pointer; /* Pour avoir un bouton cliquable (souris change de forme)*/

}

.tweets button:hover{
    background-color: var(--secondary);
    color : white;
}

.tweets a{
    text-decoration: none;
}

.tweets a:hover {
    color: orangered;
}


.amis{
    /*position: absolute;  postulat de départ
  top: 20%; left: 80%;*/
    text-align: center;
    width: 200px;
    background: white;
    /*border: 1px solid #600 ;  A ENLEVER */
}

.amis a{
	color: var(--primary);

	line-height: 50px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.amis a:hover{
	color: var(--secondary);
	
}
.writetweetstext{
  
 /* position: absolute;  postulat de départ
  top: 35%; left: 2%;*/
    padding : 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    border : 1px solid var(--primary);
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    font-size: 120%;

}

.writetweets {
  /*position: absolute;  postulat de départ */
 /* top: 40%; left: 2%;*/
 /* padding : 15px 35px;*/
    width: 490px;
  border : 1px solid var(--primary);
  background-color: var(--tertiary);
  border-radius: 20px 20px 20px 20px;
}

.writetweets input{
  text-align: center;
 /* position: relative;
  top:10%;*/
  background-color: var(--primary);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px 8px 20px 8px;
}


.writetweets input:hover {
	background-color: var(--secondary);
	color : white;
}


.writetweets  textarea{
	outline: none;
	resize: none;
  /*  border: none;*/
    border : 1px solid var(--primary);

    border-radius: 0px 10px 10px 10px;
    margin-left: 10px;

}


.recherche{
    height: 50px;
    /*border: 1px solid #600 ;  A ENLEVER */

}



footer{
    background-color: var(--tertiary);
    margin-bottom: 0px;
    height: 10%;
    border: 1px solid #600 ; /* A ENLEVER */

}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid #600 ;  A ENLEVER */
}

.conteneur > * {
    margin: 10px;
}

h1{
    text-align: center;
}







/*** MESSAGES ***/
.titre{
   /* background-color: var(--primary);*/

}

.conteneur_chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid #600 ;  A ENLEVER */
}

.conteneur_chat > * {
    margin: 10px;
}



.chat_liste_amis{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;/*flex-start;*/
    text-align: center;
}

.chat_liste_amis button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--primary);
    width: 200px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.chat_liste_amis button:hover{
    background-color: var(--secondary);
    color : white;
}

#chatbox {
    width: 500px;
    height: 300px;
    background-color: #f9f2f4;
    border: 1px solid black;
    overflow-y: scroll;
}

#sendField {
    width: 400px;
}



/**************** COMMENTAIRE ******************/

.tweet{
    width: 1000px;
    border: 1px solid black;
    background-color: var(--tertiary);
    border-radius: 10px 10px 10px 10px;

}

.tweettext{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;

    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    text-align: center;

}


.listeCommentaires{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 10px 10px;

}

.listeCommentaires ul{
    border-left: 1px solid black;
    padding-left: 20px;
    line-height: 200%;
}

.listeCommentaires li{
    list-style-type:none;

}

.champCommentaire{
    display: none;
}


/*************** Profil **************/

.conteneurProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid #600 ;  A ENLEVER */
}



.informations{
   color : #595959;
}




